In [1]:
from sklearn.ensemble import AdaBoostClassifier
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import metrics 
import warnings
warnings.filterwarnings("ignore")

In [4]:
df = pd.read_csv('datasets/sales_car_analysis.csv')

In [5]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [9]:
df['Male'] = pd.get_dummies(df['Gender'], drop_first=True)

In [11]:
df.drop(columns = ['User ID', 'Gender'], inplace=True)

In [12]:
df.head()

   Age  EstimatedSalary  Purchased  Male
0   19            19000          0     1
1   35            20000          0     1
2   26            43000          0     0
3   27            57000          0     0
4   19            76000          0     1

In [13]:
df.isnull().sum()

Age                0
EstimatedSalary    0
Purchased          0
Male               0
dtype: int64

In [15]:
X = df.drop('Purchased', axis = 1)
y = df['Purchased']

In [19]:
y.value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 5)

In [21]:
AdaBModel = AdaBoostClassifier(n_estimators=50,learning_rate=0.9)

In [22]:
model = AdaBModel.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [23]:
metrics.accuracy_score(y_test, y_pred)

0.8875

In [37]:
#dir(metrics)

In [34]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.91      0.92      0.92        53
           1       0.85      0.81      0.83        27

    accuracy                           0.89        80
   macro avg       0.88      0.87      0.87        80
weighted avg       0.89      0.89      0.89        80

### Changing Baselearner of AdaBoost Algorithm

In [39]:
from sklearn.linear_model import LogisticRegression
LogReg = LogisticRegression()
ABLModel = AdaBoostClassifier(n_estimators=50, base_estimator= LogReg, learning_rate=0.7)

In [40]:
model_1 = ABLModel.fit(X_train, y_train)
y_pred = model_1.predict(X_test)

In [41]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.85      0.89      0.87        53
           1       0.76      0.70      0.73        27

    accuracy                           0.82        80
   macro avg       0.81      0.80      0.80        80
weighted avg       0.82      0.82      0.82        80